h1 {
  color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
}

.row{
  width: 400px;
}

.col{
  width: 80px;
  height: 80px;
  aspect-ratio: 1/1;
}

input{
  display: flex;
  text-align: center;
  font-size: 60px;
  background-color: none;
  text-transform: uppercase;
}

div.buttons-container{
  width: 400px;
}